<!DOCTYPE html>

<html lang="en">

<head>

	<title>JFlap 7.0</title>

	<meta charset="utf-8">

	<link rel="stylesheet" href="/app/main/static/css/styles.css">
	<link rel="stylesheet" href="/app/main/static/css/bootstrap.css">
	<link rel="stylesheet" href="/app/main/static/css/fontawesome.css">

	<link rel="icon" type="image/png" href="/app/main/static/images/icon.png">

	{% block head %}{% endblock %}

</head>

<body class="bg-light">

	{% block body %}{% endblock %}

	{% block scripts %}{% endblock %}

</body>

</html>