{% extends 'components/default.html' %}


{% block content %}

<div class="jumbotron mb-0 rounded-0">

	<div class="row justify-content-center
	align-items-center mb-4 p-4 border-bottom">

		<img class="img-responsive w-25
		pixelated" src="/app/main/static/images/icon.png" alt="jflapweb icon">

		<b class="display-2">JFlapweb</b>

	</div>

	<h2>What is “JFlapweb” exactly?</h2>

	<h4><code>JFlapweb</code> is an abstraction of
		the software called <code>JFlap</code> made for
		the web.</h4>

	<p class="text-justify">

		<code>JFlapweb</code> is the result of a
		social work project made for
		<code>UACJ</code> at the
		<code>MATLAB</code>. <code>MATLAB</code>
		is a project of one of my teachers at
		<code>UACJ</code>. It consists on doing
		integration of different tools and
		program for the research field made by
		students for the students.
		<code>JFlapweb</code> tries to integrate
		the java applet called
		<code>Jflap</code> in the context of the
		modern web standard. This will make the
		program more easy to use for the
		students, because now the software is
		not really required to be installed in
		their machines, so, this tool can be
		useful at the laboratory for doing
		research and it can be
		<strong>accesible</strong> for anyone at
		any
		<strong>time</strong>.

	</p>

</div>

<div class="img-fluid text-right pixelated invert
bg-secondary">

	<img src="/app/main/static/images/wall.png" alt="">

</div>

<div class="jumbotron mb-0">

	<h2>What's the difference of using
		<code>JFlapweb</code> from the original
		software?
	</h2>

	<div class="list-group">

		<button class="list-group-item
		list-group-item-action">

			<i class="fas fa-check
			text-success"></i>

			<span class="text-dark">You can
				use <code>JFlapweb</code>
				everywhere at any time without
				even installing the
				software.</span>

		</button>

		<button class="list-group-item
		list-group-item-action">

			<i class="fas fa-check
			text-success"></i>

			<span class="text-dark">You can
				create the same machines that
				<code>JFlap</code> already
				supports.</span>

		</button>

		<button class="list-group-item
		list-group-item-action">

			<i class="fas fa-check
			text-success"></i>

			<span class="text-dark">Can run
				in multiple hosts independently
				of the server.</span>

		</button>

		<button class="list-group-item
		list-group-item-action">

			<i class="fas fa-check
			text-success"></i>

			<span class="text-dark">The
				server service can scale to
				multiple amount hosts
				easily.</span>

		</button>

		<button class="list-group-item
		list-group-item-action">

			<i class="fas fa-times
			text-danger"></i>

			<span class="text-muted">The
				Save and XML features of
				<code>JFlapweb</code> are not
				well tested and may not work as
				intended.</span>

		</button>

	</div>

</div>


<div class="img-fluid text-right pixelated
bg-secondary">

	<img src="/app/main/static/images/wall.png" alt="">

</div>


<div class="jumbotron mb-0">

	<h2>You have a problem with the app?</h2>

	<h4>You can send me the issue on the following
		git repository</h4>

	<p class="text-muted">Errors and bugs are more
		likely to happen because of the early stages of
		development from this project.</p>

	<span>
		<a class="btn btn-secondary" href="https://todo.sr.ht/~drnyanpassu/moesocial">

			<i class="fa fa-bug"></i>

			<span>Report a bug</span>

		</a>

		<a class="btn btn-secondary" href="mailto:drnyanpassu@tfwno.gf">

			<i class="fa fa-envelope"></i>

			<span>Contact me</span>

		</a>
	</span>

</div>


<div class="img-fluid text-right pixelated invert
bg-secondary">

	<img src="/app/main/static/images/wall.png" alt="">

</div>


<div class="jumbotron mb-0">

	<h2>Follow the development of the project</h2>

	<div class="container text-center py-2">

		<div class="container col
		justify-content-center
		align-items-center">

			<img class="img-thumbnail w-50
			pixelated m-4" src="/app/main/static/images/wip.png">

		</div>

		<div class="container col
		justify-content-center
		align-items-center">

			<q class="text-muted">Work in
				progress</q>

		</div>
	</div>

	<p>The development of <code>JFlapweb</code> will
		cease until the social work ends, but, you also
		can contribute to the project by doing a pull
		request or by doing a fork of the source code of
		the project.</p>

	<p>
		<a class="btn btn-secondary" href="https://git.sr.ht/~drnyanpassu/jflapweb">

			<i class="fab
			fa-git-square"></i>

			<span>repository</span>

		</a>

		<a class="btn btn-secondary" href="https://git.sr.ht/~drnyanpassu/jflapweb/refs">

			<i class="fa fa-tags"></i>

			<span>releases</span>

		</a>

	</p>

</div>


<div class="img-fluid text-right pixelated
bg-secondary">

	<img src="/app/main/static/images/wall.png" alt="">

</div>

{% endblock %}